/* Configurações de Contatos */
.container_c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.container_c .c-icon {
    position: relative;
    margin: 15px 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.container_c .c-icon span {
    position: relative;
    height: 100px;
    width: 100px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    display: block;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.container_c .c-icon span i {
    font-size: 3.5rem;
    line-height: 100px;
}
.container_c .c-icon:hover span i{
    color: #fff;
}
.container_c .whatsapp_c:hover span {
    background: #26de81;
}
.container_c .github_c:hover span {
    background: #2f3640;
}
.container_c .instagram_c:hover span {
    background: linear-gradient(209deg, rgba(215,8,241,1) 0%, rgba(0,142,255,1) 100%);
}
.container_c .gmail_c:hover span {
    background: #ee5253;
}
.container_c .linkedin_c:hover span {
    background: #2e86de;
}
/*Configurações do popup*/
.white-popup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 30px 37px 10px;
    width: 280px;
    margin: 10px auto;
    box-shadow: 1px 2px 39px -3px rgba(0,0,0,0.37);
}
.img {
    border-radius: 10px;
    height: auto;
    width: 250px;
    margin: 10px;
}
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.015;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

/* Configurações da responsividade da section */ 
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid transparent;
}