@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Para rolar a pagina devagar */
    font-family: 'Poppins', sans-serif;
}
body {
    background: #f5f2f2;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(134, 133, 133);
}
/* Configurações da seção */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
    padding: 150px 0 50px;
}
section div {
    padding: 10px 15px 10px;
}
section h2 {
    font-size: 2.5em;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
}
section p {
    color: rgb(24, 24, 24);
    font-size: 18px;
}

/* configurações do conteiner e cards */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.container .card {
    /*width: 320px;*/
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgb(24, 24, 24,.19);
    cursor: pointer;
}
.container .card .icon {
    position: relative;
    text-align: center;
}
.container .card .icon ion-icon {
    max-width: 120px;
    padding: 20px;
    color: rgb(24, 24, 24);
    font-size: 2em;
}
/*Configurações do popup*/
.white-popup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 30px 37px 10px;
    width: 280px;
    margin: 10px auto;
    box-shadow: 1px 2px 39px -3px rgba(0,0,0,0.37);
}
.img {
    border-radius: 10px;
    height: auto;
    width: 250px;
    margin: 10px;
}
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.015;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }
@media (max-width: 992px) {
    /* Cofigurações da seção */
    section h2 {
        font-size: 2.2em;
        text-transform: uppercase;
    }
}