@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Para rolar a pagina devagar */
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-y: auto;
}
body::-webkit-scrollbar {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(134, 133, 133);
}
/* Configurações da seção */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
    padding: 150px 0 50px;
}
section div {
    padding: 10px 0 10px;
}
section h2 {
    font-size: 2.5em;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
}
/*Configurações do container */
.container {
    max-width: 100%;
    background-color: #fff;
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
}
/*Configurações dos botões*/
.tab_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-weight: 600;
    position: relative;
}
.tab_box .tab_btn {
    font-size: 18px;
    font-weight: 600;
    color: rgb(24, 24, 24,.7);
    background: #fff;
    border: 1px solid rgb(24, 24, 24,.1);
    border-radius: 10px;
    padding: 10px 18px;
    cursor: pointer;
}
.tab_box .tab_btn.active {
    color: rgb(24, 24, 24);
    background-color: #fff;
    box-shadow: 1px 0px 24px -8px rgba(0,0,0,0.75);
}
.content_box {
    margin: 10px;
    padding: 10px;
}
.content_box .content {
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from {
        transform: translateX(50px);
        opacity: 0;
    } to {
        transform: translateX(0px);
        opacity: 1;
    }
}
.content_box .content.active {
    display: block;
    border-radius: 20px;
    border: 1px solid rgb(24, 24, 24,.1);
    background: rgb(24, 24, 24,.010);
    box-shadow: 1px 0px 24px -8px rgba(0,0,0,0.75);
}
.content_box .content h2 {
    margin-bottom: 10px;
}
.content_div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content_div .projeto {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 0 .3em rgba(24, 24, 24, 0.568);
}
.content_div .projeto .contentBx {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
}
.content_div .projeto .contentBx .imagens-demo {
    position: relative;
    padding: 30px;
    margin-bottom: 54px;
}
.content_div .projeto .contentBx .imagens-demo img {
    position: absolute;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}
.content_div .projeto .contentBx .imagens-demo .img1 {
    margin-top: -35px;
    border: 2px solid #fff;
    box-shadow: 1px 0px 3px rgb(24, 24, 24);
    width: 200px;
    height: auto;
    transition: 0.5s;
    z-index: 1;
    left: 10px;
}
.content_div .projeto .contentBx .imagens-demo .img1:hover {
    transform: scale(1.2);
    z-index: 110;
}
.content_div .projeto .contentBx .imagens-demo .img2 {
    margin-top: -25px;
    border: 2px solid #fff;
    box-shadow: 1px 0px 3px rgb(24, 24, 24);
    width: 80px;
    height: auto;
    transition: 0.5s;
    z-index: 100;
    right: -12px;
}
.content_div .projeto .contentBx .imagens-demo .img2:hover {
    transform: scale(1.2);
}
.content_div .projeto .contentBx h3 {
    font-size: 1em;
    color: rgb(24, 24, 24);
    text-transform: none;
    margin: 5px;
}
.content_div .projeto .contentBx a {
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 40px;
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(24, 24, 24);
    text-decoration: none;
    transition: 0.2s;
}
.content_div .projeto .contentBx a:hover {
    background: rgb(24, 24, 24);
    color: #fff;
}