@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Para rolar a pagina devagar */
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(134, 133, 133);
}
/* Configurações da seção */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
    padding: 150px 0 50px;
    background: #fff;
}
section div {
    padding: 10px 15px 10px;
}
section h2 {
    font-size: 2.5em;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
}
/*Configurações do container*/
.container {
    border-radius: 15px;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(#dbdae153, #a3aaba28);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), 
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 15px rgba(0,0,0,0.1),
    30px 30px 15px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
}
.container h2 {
    font-size: 2.3em;
    color: rgb(24, 24, 24);
    text-transform: none;
    margin: 10px;
}
.container h3 {
    font-size: 1.8em;
    color: rgb(24, 24, 24);
    margin-bottom: 10px;
}
.container p {
    font-size: 1em;
    color: rgb(24, 24, 24);
    margin: 10px;
    line-height: 1.5;
}
.container .experiencia {
    text-indent: 50px;
    text-align: justify;
}
.container .li {
    text-align: start;
}