@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Para rolar a pagina devagar */
    font-family: 'Poppins', sans-serif;
}
body {
    background: #f5f2f2;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(134, 133, 133);
}
/* Configurações da seção */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
    padding: 150px 0 50px;
}
section div {
    padding: 10px 15px 10px;
}
section h2 {
    font-size: 2.5em;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
}
section p {
    color: rgb(24, 24, 24);
    font-size: 18px;
}
section .links-section ion-icon {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border: 3px solid rgb(24, 24, 24);
    border-radius: 40px;
    font-size: 2em;
    font-weight: 700;
    color: rgb(24, 24, 24);
    text-decoration: none;
    transition: 0.2s;
}
section .links-section ion-icon:hover {
    background: rgb(24, 24, 24);
    color: #fff;
}
/* Configurações do rodapé*/
.rodape
{
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0 50px;
    background-color: rgb(24, 24, 24);
}
.rodape div {
    padding: 10px 15px 10px;
}
.rodape div p {
    color: #fff;
    padding: 5px 0 5px;
}
.rodape div p ion-icon {
    margin: 2px 5px 2px;
    font-size: 24px;
}
/* Configurações da imagem do perfil*/
.perfil img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 20%;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* configurações do conteiner e cards */
.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.container .card {
    width: 320px;
    margin: 20px;
    padding: 25px 15px;
    border-radius: 40px;
     /*box-shadow: 0 0 0.3em rgb(58, 58, 58);*/
    background: linear-gradient(315deg, #e1e1e1, #ffffff);
    box-shadow: -12px -12px 24px #e1e1e1,
                12px 12px 24px #ffffff;
}
.container .card .icon {
    position: relative;
    text-align: center;
}
.container .card .icon ion-icon {
    max-width: 120px;
    color: rgb(24, 24, 24);
    font-size: 3.5em;
}
.container .card .icon .bi-bootstrap-fill{
    max-width: 120px;
    color: rgb(24, 24, 24);
    font-size: 3.2em;
}
.container .card .contentBx {
    position: relative;
    margin: 10px;
    padding: 0;
    text-align: center;
}
.container .card .contentBx h3 {
    font-weight: 700;
    color: rgb(24, 24, 24);
    font-size: 1.4em;
    letter-spacing: 1px;
}
.container .card .contentBx .icons {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container .card .contentBx .icons ion-icon{
    font-size: 2.1em;
    margin: 5px;
}
.container .card .contentBx .icons .bi-bootstrap-fill{
    font-size: 1.8em;
    margin: 5px;
}
.container .card .contentBx .icons p {
    font-size: 1em;
    font-weight: 500;
}
.container .card .contentBx .read-more, .see-more {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(24, 24, 24);
    text-decoration: none;
    transition: 0.2s;
}
.container .card .contentBx .read-more:hover, .see-more:hover {
    background: rgb(24, 24, 24);
    color: #fff;
}
/*Configurações dos cards contatos*/
.containers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.containers .cards {
    /*width: 320px;*/
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgb(24, 24, 24,.19);
    cursor: pointer;
}
.containers .cards .links-contact {
    padding: 0;
    margin: 0;
    border: none;
}
.containers .cards .links-contact:hover {
    background: #fff;
}
.containers .cards .icons {
    position: relative;
    text-align: center;
}
.containers .cards .icons ion-icon {
    max-width: 120px;
    padding: 20px;
    color: rgb(24, 24, 24);
    font-size: 2.5em;
}
/*Configurações do popup*/
.white-popup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 30px 37px 10px;
    width: 280px;
    margin: 10px auto;
    box-shadow: 1px 2px 39px -3px rgba(0,0,0,0.37);
}
.img {
    border-radius: 10px;
    height: auto;
    width: 250px;
    margin: 10px;
}
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.015;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }
@media (max-width: 992px) {
    /* Cofigurações da seção */
    section h2 {
        font-size: 2.2em;
        text-transform: uppercase;
    }
    /* Configurações da imagem do perfil*/
    .perfil img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: auto;
        border-radius: 50%;
    }
}